# High-performance web framework for building APIs
fastapi==0.103.1
# ASGI server for running FastAPI
uvicorn[standard]==0.23.2
# For data validation
pydantic==2.4.2

# The official Elasticsearch client for Python
elasticsearch==8.9.0
