@tailwind base;
@tailwind components;
@tailwind utilities;

body.dark {
  background-color: #1a1a1a;
  color: #fff;
}

body.dark a {
  color: #61dafb;
}

body.dark .card {
  background: #2a2a2a;
  border-color: #444;
}
